.componentPaginado{
  width: 10rem;
  color: white;
  border: solid 1px transparent;
}

.stylesLi{
  width: 39px;
  padding: 3px 3px 3px 3px;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
}

.stylesLiactive{
  width: 39px;
  padding: 3px 3px 3px 3px;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-weight: bold;
}

.stylesLiPrevNext{
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

img {
  width: 100%;
  cursor: pointer;
}