.containerRecetas{
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 86.4vh;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  border: solid 1px transparent;
}